*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: rgb(255, 255, 255);
    --clr-dark: #000000;
    --clr-accent: #000000;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
          0.125em 0.125em 0.25em rgba(255, 238, 0, 0.15);
}



.vl {
  border-left: 2.5px solid #85859b;
  position: absolute;
  left: 50%;
  margin-top: 160px;
  top: 58px;
  max-height: 100%;
  height: 41.5%;
  
}

hr {display:none;}

html {
  overflow-y: scroll;
}

body {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(rgb(1, 1, 1),  rgb(1, 1, 1) , rgb(1, 1, 1));
}
/* background: rgb(15, 18, 20); */

img {
    display: block;
    max-width: 100%;
    height: auto;
}

strong { font-weight: var(--fw-bold) }



/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin:1;
}




/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(84, 101, 112);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(173, 173, 173);
}

/* header */

  .container{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    opacity: .12;
    width: 100%;
    clear: both;
    position: relative;
    margin-bottom: 10px;
  }



    .my-work {
        color: var(--clr-light);
        text-align: left;
    }



.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.site-header:after, .logo-wrap:after {
    clear: both;
    content: '';
    display: table; }

  body {
    margin: 0; }



  ul {
    margin: 0;
    padding: 1; }
    ul li {
      list-style-type: none; }

  img {
    vertical-align: top; }



  .site-container {
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 1550px; }



  nav .page-title,
  nav .gallery-title,
  nav .project-title,
  nav .link-title,
  nav .social,
  nav .social li {
    display: inline-block;
    vertical-align: middle; }

  .logo-container {
    float: left;
    width: 30%; }



    










    .openMenu {
      font-size: 2rem;
      margin: 35.5px;
      margin-left: 88%;
      display: none;
      cursor: pointer;
      color: rgb(212, 212, 212);
  }

  .mainMenu .closeMenu{
    font-size: 1.5rem;
    margin-top: 76px;
    margin-left: 76%;
    display: none;
    cursor: pointer;
    color: rgb(212, 212, 212);
}
.icons i {
  font-size: 2rem;
  margin-top: 10%;
  margin-left: 37%;
  margin-right: 40%;
  display: none;
  cursor: pointer;
  color: rgb(212, 212, 212);
  
}
.icons{
  /* color: aqua; */
  text-align: center;
}

.fa-vimeo:hover {color: rgb(38, 156, 246);}
.fa-instagram:hover {color: rgb(226, 99, 194);}


    @media(max-width: 710px){
      .nav-container {
        /* float: right; */
        /* width: 70%;  */
        display: none;
      }
       
      .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;    
        align-items: center;
        background: #000;
        transition: top .5s ease;
        display: none;
    }

        
      .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 0;

    }
    .openMenu {
        display: block;
    }
    /* .mainMenu li a:hover {
        background: none;
        color: rgb(255, 123, 0);
        font-size: 1.6rem;
    } */
    .icons i {
        display: inline-block;
        padding: 2px;
    }
}














  .logo {
    font-family: cursive;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    padding-bottom: 0px;
    padding-left: 2%;
    padding-right: 0%;
    padding-top: 0px;}

    .logo,
    .logo a {
      color: #e4e4e4; }
    .logo a:hover {
      color: #b1afdf;
      font-style: normal;
      font-weight: 400;}

  .title_tom{
    /* filter: brightness(100); */
    /* color: rgb(182, 207, 201); */
    position: absolute;
    /* margin-left: 44px; */
    top: 54px;
    width: 111px;
    opacity: .8;
  }

  nav {
    float: right;
    max-width: 100%;
    padding-bottom: 30px;
    padding-top: 40px;
    width: 100%; }



    nav .page-title a {
      color: #868686;
      font-family: Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      opacity: .9;
      font-size: 19px;
      font-style: normal;
      font-weight: lighter;
      line-height: 38px;
      font-stretch:semi-condensed;
      transition: all .25s linear;

    }
      
      nav .page-title a:hover {
        color: #b8c6ff;
        opacity: 1;
      }


        
  .pf-nav-social {
    text-align: left; }
    .pf-nav-social li {
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 10px;
      padding-right: 0px; }
    .pf-nav-social a:hover svg {
      fill: #666666;
      opacity: 1; }
    .pf-nav-social svg {
      fill: #e6e6e6;
      height: 30px;
      opacity: .85;
      width: 28px; }



 

  nav {
    padding-left: 0%;
    padding-right: 2.5%;
    text-align: right; }
    nav .gallery-title {
      padding-left: 2px;
      padding-right: 20px; }
    nav .project-title {
      padding-left: 10px;
      padding-right: 10px; }
    nav .page-title {
      padding-left: 20px;
      padding-right: 20px; }
    nav .link-title {
      padding-left: 10px;
      padding-right: 10px; }

      .footer {
        color: var(--clr-accent);
        text-align: center;
        padding: 2.5em 0;
        font-size: var(--fs-h3);

    }

    .footer a {
        color: inherit;
        text-decoration: none;
    }

    .footer__link {
        font-family: arial;
    }


    .footer__link:hover,
    .social-list__link:hover {
        opacity: .6;
    }
    .footer__contact {
      font-family: arial;
  }




.service {
    font-family: Arial;
    max-width: 1300px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1800px;
        margin-left: auto;
        margin-right: auto;
        color: #e4e4e4;
    }

    .service + .service {
        margin-left: 1em;
    }
}



.about__body{
  font-family: arial;
  position: absolute;
  opacity: 1;
  left: 52.3%;
  margin-top: 0%;
  max-width: 250px;
  min-width: 170px;
  width: auto;
  color: #e4e4e4;
}

.about_img{
  padding-left: 44px;
  position: absolute;
  right: 52%;
  width: 40%;
  max-width: 340px;
  min-width: 300px;
  /* box-shadow: 0 0 22px 22px rgb(18, 18, 18) inset; */
}

.about_video{
  filter: brightness(100);
  padding-right: 34px;
  position: absolute;
  left: 54%;
  width: 100%;
  height: 600px;
  min-width: 20px;
}

.about-me__body{
  font-family: arial;
  text-align: center;
  position: relative;
  opacity: .85;
}



.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 10px;
}


/* hover styles */
.location-listing {
  position: relative;
}

.location-image {
  line-height: 0;
  overflow: hidden;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.4s ease-in,
  transform 400ms cubic-bezier(.5, 0, .5, 1);
  transform: scale(1);
}

.location-title {
  font-size: 1em;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .2s;
  background: rgba(0, 0, 0, 0.7);
  color: #e4e4e4;
  
  display: flex;
  align-items: top;
  justify-content: left;
}

.location-listing:hover .location-title {
  opacity: 1;
}

.location-listing:hover .location-image img {
  filter: blur(2px);
  transform: scale(1.2);
}


/* for touch screen devices */
@media (hover: none) { 
  .location-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(2px);
  }
}

.loader{
  position: fixed;
  background-color: black;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loader.hidden{
  animation: fadeout .6s;
  animation-fill-mode: forwards;
  pointer-events: none;
}
@keyframes fadeout{
  100%{
  opacity: 0;
  visibility: hidden;
  }
}
















